<html lang="en-US">

<head>
    <title>Survey Analysis</title>

</head>

<body>
    <h1>Survey Analysis</h1>
    <h2>Colour</h2>
    <ul>
        <% for (var i=0; i<results[0].length; i++){ %>
            <li>
                <%= results[0][i].colour %> :
                    <%= results[0][i].count %>
            </li>
            <% } %>
    </ul>

    <h2>Visits</h2>
    <ul>
        <% for (var i=0; i<results[1].length; i++){ %>
            <li>
                <%= results[1][i].text %> :
                    <%= results[1][i].count %>
            </li>
            <% } %>
    </ul>

    <h2>UI Aspects</h2>
    <ul>
        <% for (var i=0; i<results[2].length; i++){ %>
            <li>
                <%= results[2][i].UI %> :
                    <%= results[2][i].count %>
            </li>
            <% } %>
    </ul>

    <h2>Least Favourite Design</h2>
    <ul>
        <% for (var i=0; i<results[3].length; i++){ %>
            <li>
                <%= results[3][i].dropdown %> :
                    <%= results[3][i].count %>
            </li>
            <% } %>
    </ul>

    <h2>Comments</h2>
    <ul>
        <% for (var i=0; i<results[4].length; i++){ %>
            <li>
                <%= results[4][i].comments %> :
                    <%= results[4][i].count %>
            </li>
            <% } %>
    </ul>

    <h2>Scale</h2>
    <ul>
        <% for (var i=0; i<results[5].length; i++){ %>
            <li>
                <%= results[5][i].likert %> :
                    <%= results[5][i].count %>
            </li>
            <% } %>
    </ul>

</body>
</html>